html, body {
    font-family: "Segoe UI", Roboto, Helvetica, Arial, serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Extending main to full height */
main {
    flex-grow: 1;
}

header, footer {
    display: flex;
    justify-content: space-between;
    background-color: #08043f; 
    color: white;
    padding: 1em;
    width:100%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #08043f;
    color: white;
    padding: 1em;
    width: 100%;
}
/* Justifying nav items */

nav ul {
    list-style: none;
    display: flex;
    background-color: #08043f; 
    margin: 0;
    padding-bottom: 2em;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 0.5em;
    border: 2px solid transparent;
}

/* Hover color for links and active link highlight */

nav a:hover, nav a.active {
    border-color: white;
    background-color: #0c6c8b;
}

/* Gradient for h1 header */

h1 {
    background: linear-gradient(to right, #17f7ff, #0c6c8b);
    -webkit-background-clip: text;
    color: transparent;
}

h2 {
    background-color: #08043f;
    margin-top: 0px;
    color: white;
    padding-bottom: 60px;
    padding-left: 1em;
}

h2::after {
    content: ''; 
    display: block; 
    width: 100%; 
    height: 2px; 
    background-color: #0c6c8b; 
    margin-top: 8px; 
}

/* Swapping contents justification and spanning when screen size is less than 768px */

@media (max-width: 768px) {
    header, footer {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
    }

    nav a, footer a {
        width: 80vw; 
        text-align: left; 
        position: relative; 
        padding-right: 10px; 
    }
    
    footer a::before {
        content: " >"; 
        position: absolute;
        left: 0;
    }

    /* Align left?? */

    footer {
        justify-content: flex-start; 
    }

    footer ul {
        flex-direction: column;
    }

    footer ul .social {
        flex-direction: column;
        border-top: 1px solid white; 
    }
}


nav ul li a {
    background-color: #08043f;
    border: 1px solid white; 
    padding: 10px; 
    margin: 5px; 
    display: inline-block;
}

/* Changing color of border when link box is hovered */

nav ul li a:hover {
    border-color: #0c6c8b; 
}

/* Justifying footer contents */

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 30px;
}

footer ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5em;
    border-bottom: 1px solid white;
}

footer ul li a:hover {
    border-color: white;
}

/* Margin for social media link to space out between navbar items and copywright */

p {
    margin-bottom: 0px;
    margin-top: 25px;
}

/* h3 and h4 tags for resume content headers */

h3 {
    padding-left: 1em;
}

h4{
    padding-left: 1.5em;
}

/* Used .resume class to align main body content */

.resume {
    padding-left: 2.5em;
    padding-right: 2.5em;
}